.container-fluid{
    background-color: rgb(243, 188, 6);
}
.team-heading {
    background-image: url(./images/team.PNG);
    background-position: top;
}

.text-center {
    color: rgb(15, 15, 15);
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    opacity: 0.8;
   }

  .card {
      border-bottom: none;
  }

  .card-title {
      text-align: center;
    
  }

  .card-header {
    background-color: rgb(243, 188, 6);
    color: white;
  }
